* {
    box-sizing: border-box;
    image-rendering: pixelated;
    touch-action: manipulation;
    user-select: none;
    -webkit-user-select: none;
    -webkit-user-drag: none;
}
*[role="button"], input[type="button"], button {
    cursor: pointer;
}

body {
    background-color: black;
    color: white;
    font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
    margin: 0;
}
.flex { display: flex; }

canvas {
    width: 100%;
    max-width: 1195px;
    /* object-fit: contain; */
}

table {
    margin-bottom: 12px;
}
table td, table th {
    min-width: 96px;
    padding: 1px 3px;
    margin: 0;
}
table * {
    text-align: left;
    border: 1px solid rgb(83, 83, 83);
}


/* Game */
#game {
    position: relative;
    max-width: 1200px;
    min-height: 672px;
}
#loader {
    position: absolute;
    background-color: rgb(70, 66, 78);
    top: 0; right: 0; bottom: 0; left: 0;
    display: flex;
    justify-content: center;
    align-items: center;
    transition: 0.25s opacity ease;
    pointer-events: none;
}
#loader img {
    width: 96px;
    image-rendering: initial;
    animation: spinner 3s linear infinite;
    opacity: 1;
}
@keyframes spinner {
    to { transform: rotate(360deg); }
}


.tools {
    background-color: rgb(20, 20, 20);
    border: 1px solid rgb(65, 65, 65);
    border-radius: 4px;
    width: fit-content;
    margin: 4px;
    padding: 8px;
}
.tools img {
    min-width: 38px;
    min-height: 38px;
    padding: 2px;
    border: 2px solid transparent;
    transition: transform 0.1s ease-out;
}
.tools img:hover {
    transform: scale(1.25, 1.25);
}
.tools img.selection {
    border-color: white;
    border-radius: 4px;
    background-color: rgb(65, 65, 65);
    /* padding: 2px; */
}

/* Touch controls */
.controls {
    position: sticky;
    justify-content: center;

    bottom: 6px; left: 12px; right: 12px;
    background-color: rgb(48, 48, 48);
    border: 1px solid rgb(82, 82, 82);
    border-radius: 8px;

    width: auto;
    padding: 12px 0;
    margin-top: 24px;
    margin-left: auto;
}
.controls .column {
    margin: 0 16px;
}


.controls button {
    position: absolute;
    width: 36px;
    height: 36px;

    background-color: white;
    border: none;
    border-radius: 0 0 3px 3px;
    opacity: 0.5;

    /* transform-origin: top; */

    transition-property: background-color;
    transition-duration: 0.3s;
    transition-timing-function: cubic-bezier(0.075, 0.82, 0.165, 1);
}
.controls button:hover,
.controls button:focus-visible {
    opacity: 1;
}
.controls button:active {
    opacity: 0.8;
    transform: scale(0.9, 0.9);
}

/* Dpad */
.controls .column {
    padding: 16px;
    width: 128px;
    height: 128px;
    position: relative;
}
.controls button > svg {
    fill: white;
    position: absolute;
    bottom: 100%;
    left: 0;

    padding: 0;
    margin: 0;

    transition: fill 0.3s cubic-bezier(0.075, 0.82, 0.165, 1);
    opacity: 0.7;
}

/* Button positioning */
.controls .column button:nth-of-type(1) {
    top: 0;
    left: 50%;
    transform: translateX(-50%) rotate(180deg);
}
.controls .column button:nth-of-type(2) {
    left: 0;
    top: 50%;
    transform: translateY(-50%) rotate(90deg);
}
.controls .column button:nth-of-type(3) {
    bottom: 0;
    left: 50%;
    transform: translateX(-50%);
}
.controls .column button:nth-of-type(4) {
    right: 0;
    top: 50%;
    transform: translateY(-50%) rotate(-90deg);
}


/* Button pad */
.controls .buttonpad button {
    border-radius: 50%;
    width: 46px;
    height: 46px;
}

/* Desktop layout */
@media only screen and (min-width: 600px) {
    .controls {
        left: unset;
        width: fit-content;
    }
}
